
r/data_loader.R
r/eval.R
r/excel.R
r/render.R
r/trello.R
r/variables.R
demo_files/FlexDashboard_demo.html
demo_files/9 - Around the World in Eighty Days.xlsx
demo_files/8 - Twenty Thousand Leagues Under the Sea.xlsx
demo_files/10 - The Ingenious Gentleman Don Quixote of La Mancha.xlsx
.Rhistory
demo_files/Projects.xlsx
.RData
